{% extends 'main.html' %} 
{% block title %}
Bus List
{% endblock %}
{% block navItem %}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'busList' %}">Bus List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ticketStatus' %}">Ticket Status</a>
            </li>
{% endblock navItem %}

{% block content %} 
<section>
  <div class="container">
    <div class="">
      <a href="{% url 'addBus' %}"> <button type="button" class="btn btn-success">Add Bus +</button> </a>
    </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Vehicle Id</th>
        <th>Vehicle Number</th>
        <th>Vehicle Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <th>Booked Seats</th>
        <th>Ticket Fare</th>
        <th>Vehicle Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
      <tr>
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.vehicle_number }}</td>
        <td>{{ vehicle.name }}</td>
        <td>{{ vehicle.source }}</td>
        <td>{{ vehicle.destination }}</td>
        <td>{{ vehicle.departure }}</td>
        <td>{{ vehicle.arrive }}</td>
        <td>{{ vehicle.available_seats }}</td>
        <td>{{ vehicle.booked_seats }}</td>
        <td>{{ vehicle.price }}</td>
        {% if vehicle.v_status == True %}
        <td> Active </td>
        {% else %}
        <td>Disabled</td>
        {% endif %}
        <td><a href="#">Edit</a> | 
          {% if vehicle.v_status == True %}
          <a href="#">Disable</a> 
          {% else %}
          <a href="#">Enable</a>
          {% endif %}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
</div>
</section>
{% endblock content %}
