{% extends 'main.html' %} 
{% block title %}
Bus List
{% endblock %}
{% block navItem %}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'busList' %}">Bus List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ticketStatus' %}">Ticket Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'busRoutes' %}">Bus Routes</a>
            </li>
{% endblock navItem %}

{% block content %} 
<section>
  <div class="container mt-3">
    <div>
          {% if messages %}
            {% for message in messages %}
              <p class="bg-success text-white p-1 fs-5">{{ message }}</p>
            {% endfor %}
          {% endif %}
    </div>
    {% if request.user.is_superuser %}
    <div class="">
      <a href="{% url 'addBus' %}"> <button type="button" class="btn btn-success">Add Bus +</button> </a>
    </div>
    {% endif %}
  <table class="table mt-3">
    <thead class="table-dark">
      <tr>
        <th>SN</th>
        <th>Number</th>
        <th>Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Seats</th>
        <th>Fare</th>
        <th>Status</th>
        {% if request.user.is_superuser %}
        <th>Action</th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ vehicle.vehicle_number }}</td>
        <td>{{ vehicle.name }}</td>
        <td>{{ vehicle.source }}</td>
        <td>{{ vehicle.destination }}</td>
        <td>{{ vehicle.date }}</td>
        <td>{{ vehicle.departure }}</td>
        <td>{{ vehicle.arrive }}</td>
        <td>{{ vehicle.available_seats }}</td>
        <td>{{ vehicle.price }}</td>
        
        {% if vehicle.v_status == True %}
          <td> Active </td>
          {% else %}
          <td>Disabled</td>
        {% endif %}
        {% if request.user.is_superuser %}
            <td><a href="{% url 'editBus' vehicle.id %}">Edit</a> | 
            {% if vehicle.v_status == True %}
            <a href="{% url 'disableBus' vehicle.id %}">Disable</a> 
            {% else %}
            <a href="{% url 'enableBus' vehicle.id %}">Enable</a>
            {% endif %}</td>
          {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  
</div>
</section>
{% endblock content %}
