{% extends 'main.html' %} {% block content %}
<style>
  body {
    background-image: url("/static/assets/bus_bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
   }
    .rounded{border-radius: 1rem}.nav-pills .nav-link{color: #555}.nav-pills .nav-link.active{color: white}input[type="radio"]{margin-right: 5px}.bold{font-weight:bold}

</style>
<!-- form -->
<form class="form-control" id="bookTkt" action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  
  <div class="container row g-4 py-4">
    <div class="col-md-3">
      <label for="from" class="form-label">From</label> <br />
      <select name="source" id="departure" class="form-select" required>
        <option value="" >Select Departure</option>
        {% for busRoute in busRoutes %}
        <option value="{{ busRoute.id }}">{{ busRoute }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-1">
      <br />
      <i class="las la-arrow-right la-3x"></i>
    </div>
    <div class="col-md-3">
      <label for="to" class="form-label">To</label> <br />
      <select name="destination" id="destination" class="form-select" required>
        <option value="" >Select destination</option>
        {% for busRoute in busRoutes %}
          <option value="{{ busRoute.id }}">{{ busRoute }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date" required/>
    </div>
  <div class="col-md-2">
      <br />
      <button type="submit" class="btn btn-warning">Search Bus</button>
    </div>
  </div>
</form>

<!-- bus list -->
{% for vehicle_list in vehicles_list %}
<form class="form-control px-4 py-2 " id="book_ticket_form{{ vehicle_list.id }}" method="POST" action="{% url 'issueTicket' vehicle_list.id %}" style="background-color: #ffffffe4">
  {% csrf_token %}
  
    <div class="row status">
      <div class="col">{{ vehicle_list.name }} ({{ vehicle_list.vehicle_number }})</div>
      <div class="col">Runs: Daily</div>
      
    </div>
    <div class="row schedule">
      <div class="col">
        Departure <b>{{ vehicle_list.departure }}</b> | {{ vehicle_list.source }} | {{vehicle_list.date}}
      </div>

      <div class="col">Duration 
        <b>{% for time_difference in time_differences %}
        {{ time_difference }}
          {% endfor %}
        </b></div>
      <div class="col">
        Arrival <b>{{ vehicle_list.arrival }}</b> | {{ vehicle_list.destination }} | <b>{{vehicle_list.arrive}}</b>
      </div>
    </div>
    <div class="row tktstatus">
      <div class="col-2 tkt">
        {% if vehicle_list.v_status == False %}
        Bus Cancelled
        {% else %}
        Available : <b> {{ vehicle_list.available_seats}} seats </b> <br>
        Book Ticket : <input type="number" id="book_ticket{{ vehicle_list.id }}" name="book_ticket" class="book_ticket_input" required>
        {% endif %}
      </div>
    </div>
    
    {% if vehicle_list.v_status == False %}
    <button type="submit" class="btn btn-danger disabled text-decoration-line-through my-2">Book Now</button>
    <span class="price text-decoration-line-through">NPR {{ vehicle_list.price }}</span>
      {% else %}
      <button type="button" class="btn btn-warning mt-2 toggle-modal-btn" id="confirmTicket{{ vehicle_list.id }}" data-target="#myModal{{ vehicle_list.id }}" data-price="{{ vehicle_list.price }}" data-seats="{{ vehicle_list.available_seats }}">
        Book Now </button>
    <span class="price">NPR {{ vehicle_list.price }}</span>
    {% endif %}
    <hr>
    {% if error %}
    <p class="text-white btn-danger px-4 py-2 fs-4">{{ error }}</p>
    {% endif %}
  </div>
  
<!-- Modal  -->
<div class="modal fade" id="myModal{{ vehicle_list.id }}" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="">Confirm Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="ticket" id="ticket-details">
            <div class="bname"><b> {{ vehicle_list.name }} </b>| <b> ({{ vehicle_list.vehicle_number }})</b></div>
             <div class=" schedule">
              <div class="col">Departure <b>{{ vehicle_list.departure }}</b> |<b> {{ vehicle_list.source }} </b> |<b> {{vehicle_list.date}}</b> </div>

              <div class="col">Duration <b>
                {% for time_difference in time_differences %}
                {{ time_difference }}
                  {% endfor %}
                </b></div>

              <div class="col">Arrival   <b>{{ vehicle_list.destination }}</b> | <b>{{vehicle_list.arrive}}</b></div>
            </div>

            <div class="row">
                <h4 id="bookedTickets{{ vehicle_list.id }}"> </h4>
                <h5 id="totalCost{{ vehicle_list.id }}"></h5> 
              </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="row">
                    <div class="card-header">
                        <div class="bg-white ">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-1">
                                {% load static %}
                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card{{ vehicle_list.id }}" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#esewa{{ vehicle_list.id }}" class="nav-link "> <img src="{% static 'assets/esewa.png' %}" alt="" height="28px" width="55px"></a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#imepay{{ vehicle_list.id }}" class="nav-link "> <img src="{% static 'assets/imepay.png' %}" alt="" height="24px" width="24px"> ImePay </a> </li>
                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card{{ vehicle_list.id }}" class="tab-pane fade show active pt-3">
                                <form role="form">
                                    <div class="form-group"> <label for="username">
                                            <h6>Card Owner</h6>
                                        </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control "> </div>
                                    <div class="form-group"> <label for="cardNumber">
                                            <h6>Card number</h6>
                                        </label>
                                        <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                            <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group"> <label><span class="hidden-xs">
                                                        <h6>Expiration Date</h6>
                                                    </span></label>
                                                <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control" required> <input type="number" placeholder="YY" name="" class="form-control" required> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="text" required class="form-control"> </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="card-footer">
                                  <button type="button" class="subscribe btn btn-success btn-block shadow-sm submitMainForm" > Confirm Payment </button>
                                </div>
                        </div> <!-- End -->
                        <!-- esewa info -->
                        <div id="esewa{{ vehicle_list.id }}" class="tab-pane fade pt-3">
                             <button type="submit" class="btn btn-success submitMainForm" > Make Payment </button> 
                            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                        </div> <!-- End -->
                        <!-- imepay info -->
                        <div id="imepay{{ vehicle_list.id }}" class="tab-pane fade pt-3">
                             <button type="submit" class="btn btn-success submitMainForm" > Make Payment </button>
                            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                        </div> <!-- End -->
                        
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endfor %} 




<script>
     // form validation before toggle of modal
  $(document).ready(function () {
    $('.toggle-modal-btn').click(function () {
        var target = $(this).data('target');
        var vehicleId = $(this).attr('id').replace('confirmTicket', '');
        var ticketInput = $('#book_ticket' + vehicleId);
        var bookedTickets = ticketInput.val();
        var pricePerTicket = $(this).data('price');
        var totalCost = bookedTickets * pricePerTicket;
        var seats = $(this).data('seats');



        $('#bookedTickets' + vehicleId).text(bookedTickets + " ticket/s booked.");
      $('#totalCost' + vehicleId).text("Total Cost = NPR " + totalCost);
      
        if (validateForm(ticketInput, seats)) {
          $(target).modal('show');
        }
        $('.submitMainForm').click(function() {
      // Submit the main form
      $(this).closest('form').submit();
    });
    });
  });
  // $(document).ready(function() {
  //   // When the button to submit the main form within the modal is clicked

  // });

  function validateForm(ticketInput, seats) {
    var ticket = ticketInput.val();
    // var available = availableSeats.val();

    if (ticket.trim() === '' || ticket.trim() <= 0) {
      alert('Please select at least 1 ticket.');
      return false;
    } else if ( ticket.trim()>seats) {
      alert('Cannot book more than available seats.')
      return false;
    } else if ( seats<=0) {
      alert('No seat available')
      return false;
    }else{
      return true;
    }
  }
     // Remember selected departure
    document.getElementById('departure').addEventListener('change', function() {
        localStorage.setItem('departure', this.value);
    });
    
    const selectedDeparture = localStorage.getItem('departure');
    if (selectedDeparture) {
        document.getElementById('departure').value = selectedDeparture;
    }

  // Remember selected destination
  document.getElementById('destination').addEventListener('change', function() {
        localStorage.setItem('destination', this.value);
    });
    
    const selectedDestination = localStorage.getItem('destination');
    if (selectedDestination) {
        document.getElementById('destination').value = selectedDestination;
    }

    // Remember selected date
  document.getElementById('date').addEventListener('change', function() {
        localStorage.setItem('date', this.value);
    });
    
    const selectedDate = localStorage.getItem('date');
    if (selectedDate) {
        document.getElementById('date').value = selectedDate;
    }

    //script for payment gateway
    $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
    
            $('.nav-pills a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });
</script>
{% endblock content %}
