{% extends 'main.html' %} {% block content %}

<!-- form -->
<form class="form-control" action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  
  <div class="container row g-4">
    <div class="col-md-3">
      <label for="from" class="form-label">From</label> <br />
      <select name="source" id="">
        <option value="">Select Departure</option>
        {% for busRoute in busRoutes %}
        <option value="{{ busRoute.id }}">{{ busRoute }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-1">
      <br />
      <i class="las la-arrow-right la-3x"></i>
    </div>
    <div class="col-md-3">
      <label for="to" class="form-label">To</label> <br />
      <select name="destination" id="">
        <option value="">Select destination</option>
        {% for busRoute in busRoutes %}
          <option value="{{ busRoute.id }}">{{ busRoute }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="col-md-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="" name="date" />
    </div>
  <div class="col-md-2">
      <br />
      <button type="submit" class="btn btn-warning">Search Bus</button>
    </div>
  </div>
</form>

<!-- bus list -->
<div class="container">
{% for vehicle_list in vehicles_list %}
<form class="form-control" id="book_ticket_form" method="POST" action="{% url 'issueTicket' vehicle_list.id %}" onsubmit=" return confirmTicket()">
  {% csrf_token %}
  
    <div class="row status">
      <div class="col">{{ vehicle_list.name }} ({{ vehicle_list.vehicle_number }})</div>
      <div class="col">Runs: Daily</div>
      
    </div>
    <div class="row schedule">
      <div class="col">
        Departure <b>{{ vehicle_list.departure }}</b> | {{ vehicle_list.source }} | {{vehicle_list.date}}
      </div>

      <div class="col">Duration <b>3:5 hrs</b></div>
      <div class="col">
        Arrival <b>{{ vehicle_list.arrival }}</b> | {{ vehicle_list.destination }} | <b>{{vehicle_list.arrive}}</b>
      </div>
    </div>
    <div class="row tktstatus">
      <div class="col-2 tkt">
        {% if vehicle_list.v_status == False %}
        Bus Cancelled
        {% else %}
        Available : <b> {{ vehicle_list.available_seats}} seats </b> <br>
        Book Ticket : <input type="number" id="book_ticket" name="book_ticket" required>
        {% endif %}
      </div>
    </div>
    
    {% if vehicle_list.v_status == False %}
    <button type="submit" class="btn btn-danger disabled my-2">Book Now</button>
    <span class="price text-decoration-line-through">NPR {{ vehicle_list.price }}</span>
      {% else %}
    <button type="submit" class="btn btn-warning my-2">Book Now</button>
    <span class="price">NPR {{ vehicle_list.price }}</span>
    {% endif %}
    <hr>
    {% endfor %} {{ error }}
    
  </div>
  
</form>





<script>
  function confirmTicket(){
    let ticket = document.getElementById('book_ticket').value;
    let confirmTicket = confirm("Do you want to issues " + ticket + " ticket/s?");
    return confirmTicket;
  }
</script>
{% endblock content %}
